<h1>Login</h1>

<form id='formLogin'>

  <input type='text' required placeholder='Email' id='email' />
  <input type='password' required placeholder='Password' id='password' />

  <button type='submit'>Login</button>
</form>

<a href="/api/sessions/github">Login con Github</a>
<script src='/js/login.js'></script>