<main>
  <div>
    <h1>Usuarios</h1>
    <ul>
      {{#each this.users}}
        <li>
          <p>{{this.name}}</p>
          <p>$ {{this.lastname}}</p>
          <p>$ {{this.role}}</p>
          <p id="UserId">$ {{this.id}}</p>
          <a href='#' id="DeleteUser" class='card-link'>Eliminar Usuario</a>
          <a href='#' id="ChangeRol" class='card-link'>Modificar Rol</a>
        </li>
      {{/each}}
    </ul>
  </div>
</main>
<script src='/js/manageUsers.js'></script>