<h1>Register</h1>

<form id='formRegister'>

  <input type='text' required placeholder='First name' id='firstName' />
  <input type='text' required placeholder='Last name' id='lastName' />
  <input type='text' required placeholder='Age' id='age' />
  <input type='text' required placeholder='Email' id='email' />
  <input type='password' required placeholder='Password' id='password' />

  <button type='submit'>Registrar</button>
</form>

<script src='/js/register.js'></script>